* {
  font-size: 67.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}
:root {
  --height_header: 85px;
  --height_about: 405px;
  --primary_color: #be9c79;
  --bg_tooltip: rgba(0, 0, 0, 0.5);
}
.max_width {
  width: 1450px;
  max-width: 100%;
  margin: auto;
}
.icon {
  cursor: pointer;
}
.btn {
  cursor: pointer;
}
.remove_style_link {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}
.transition {
  transition: all ease-in 0.2s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes growUp {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Add Zoom Animation */
.zoom-animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
