/* Import Font Family from GG Fonts */
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

* {
  font-size: 67.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;

}
::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(149, 147, 147);
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
html {
  scroll-behavior: smooth;
  
}
body {
  font-family: Jost;
}
:root {
  --height_header: 85px;
  --height_about: 405px;
  --primary_color: #be9c79;
  --bg_tooltip: rgba(0, 0, 0, 0.5);
}
.max_width {
  width: 1450px;
  max-width: 100%;
  margin: auto;
}
.full_width {
  width: 100%;
  margin: auto;
}
.icon {
  cursor: pointer;
}
.btn {
  cursor: pointer;
}
.remove_style_link {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}
.transition {
  transition: all ease-in 0.2s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes growUp {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Add Zoom Animation */
.zoom-animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
