/* ------------ direction ------------ */
#direction {
    margin-top: calc(var(--height_header) + 20px);
    margin-bottom: 20px;
}
.direction_home {
    font-size: 1.4rem;
}
.direction_home:hover {
    color: var(--primary_color);
    font-weight: 700;
}
/* ------------ description ------------- */
#in4_product {
    height: 800px;
}
.current_page {
    font-size: 1.4rem;
    color: var(--primary_color);
    font-weight: 700;
}
.img-slider {
    width: 50%;
    float: left;
    margin-right: 90px;
}
.desc_product {
    line-height: 2;
}
span.discount_price,
span.discount {
    font-size: 1.8rem;
}
.name_product {
    font-size: 2rem;
}
span.origin_price {
    margin-right: 0;
}
.desc_detail {
    position: relative;
    margin-top: 40px;
    font-size: 1.3rem;
    color: rgba(0,0,0,0.6);
}
.desc_detail::after {
    content: "";
    width: 46%;
    height: 1px;
    position: absolute;
    top: -25px;
    left: 54%;
    background: rgba(0,0,0,0.5);
}
.more_actions {
    margin: 20px 0;
}
.more_action {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 10px;
    cursor: pointer;
}
.option-wrapper {
    display: flex;
}
.volume, 
.increase_volume,
.decrease_volume {
    font-size: 1.7rem;
    text-align: center;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.volume {
    line-height: 58.400px;
    font-size: 2rem;
    grid-area: volume;
    border-bottom: 1px solid black;
}
.increase_volume {
    line-height: 35px;
    border-right: 1px solid black;
    cursor: pointer;
}
.increase_volume i {
    font-size: 1.5rem;
}
.decrease_volume {
    line-height: 20px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.decrease_volume i {
    font-size: 1.5rem;
}
.change_volume {
    display: grid;
    width: 100px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 30px;
    grid-template-areas: 
        'volume .' 
        'volume .';
    float: left;
}
.change_volume-item {
    border: 1px solid black;
}

.btn-buy,
.btn-add_cart {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 20px 120px;
    border: none;
    outline: none;
}
.btn-add_cart {
    background: var(--primary_color);
    margin-left: 20px;
}
.btn-add_cart:hover {
    background: black;
}
.btn-buy {
    float: left;
    margin-top: 30px;
    background: black;
}
.btn-buy:hover {
    background: var(--primary_color);
}

/* ----------------- nested comments --------------- */
.nested_comments {
    width: 900px;
    max-width: 100%;
    text-align: justify;
    margin: 50px auto 0 auto;
    padding: 0 20px;
}
.comment {
    position: relative;
}
.comment-child {
    padding-left: 50px;
    margin: 0 auto;
}
.avatar {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50%;
    object-fit: cover;
}
.comment-right {
    margin-left: 70px;
    margin-bottom: 30px;
    line-height: 1.5;
}
.comment-user_name {
    font-weight: 700;
    font-size: 1.5rem;
}
.comment-datetime {
    color: grey;
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 20px;
}
.comment-content {
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-top: 10px;
}
.comment-reply {
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}
.icon-love_comment {
    font-size: 1.4rem;
}
.permanent_leavecmt {
    text-align: center;
    margin-bottom: 30px;
}
.leave_comment {
    position: absolute;
    left: 70px;
    margin-top: 20px;
}
.input-leave_cmt {
    min-width: 400px;
    font-size: 1.3rem;
    padding: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    border-radius: 5px;
    outline: none;
    background: transparent;
}
.btn-leave_cmt {
    font-size: 1.3rem;
    padding: 5px 10px;
    background: white;
    border: 1px solid var(--primary_color);
    border-radius: 5px;
    outline: none;
}
.btn-leave_cmt:hover {
    color: white;
    background: var(--primary_color);
}
.icon-delete_cmt {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.2rem;
    padding: 10px;
}
.display_cmts {
    display: none;
    color: grey;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
    padding: 10px;
}

/* ------------ related products ------------ */
#comments,
#products-related {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
}
div.products-related {
    margin-top: 50px;
}

/* ------------ class to toggle -------------- */
.relative {
    position: relative;
}
.more_bold {
    color: red;
    font-weight: 700;
}