/* --------------- slider ------------- */
#slider {
    position: relative;
    height: 90vh;
    margin-top: var(--height_header);
}
.slider-imgs {
    display: none;
    max-width: 100%;
    height: inherit;
    background-position: center;
    background-size:cover;
    overflow-x: hidden;
    transition: all ease-in-out 1s;
}

.slider-text-wrapper {
    position: relative;
    top: 40%;
    transform: translateY(-40%);
}
.slider-text-wrapper-left {
    left: 10%;
}
.slider-text-wrapper-center {
    left: 50%;
}
.slider-text {
    margin: 15px 0;
    line-height: 1.5;
    letter-spacing: 2px;
}
.slider-text-first {
    letter-spacing: 4px;
    font-size: 1.2rem;
}
.slider-text-second {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 7rem;
}
.slider-text-third {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}
.btn-slider {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 15px 40px;
    margin-top: 55px;
    border: 1px solid black;
    background: transparent;
    transition: all ease 0.2s;
    cursor: pointer;
}
.btn-slider:hover {
    background: black;
    color: white;
}
/* -- dot -- */
.dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    z-index: 10;
}
.icon-dot {
    padding: 2px;
    font-size: 1.5rem;
}

/* --------------- sample product -------------- */
#section-intro {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 70px;
}
.intro {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 0 15px;
}
.intro-left {
    margin-right: 15px
}
.intro-right {
    margin-left: 15px;
} 
.img-intro {
    width: inherit;
    transition: 1s;
}
.img-intro:hover {
    transform: scale(1.03);
}
.intro_text-wrapper {
    position: absolute;
    left: 10%;
    bottom: 7%;
    line-height: 2;
}
.product_name:hover,
.intro_text-link:hover {
    color: var(--primary_color);
}
.intro_text-first {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 4px;
}
.intro_text-second {
    font-size: 3rem;
    font-weight: 600;
}

/* ------------------ best seller ---------------- */
#carousel-insta,
#hot_deal,
#best_seller {
    margin-top: 75px;
    text-align: center;
    padding: 0 15px;
}
.title {
    display: inline-block;
    position: relative;
    font-size: 2.5rem;
    font-weight: 600;
}
.title::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    left: 30%;
    bottom: -15px;
    background: var(--primary_color);
}
.btns_bestsl {
    margin: 50px 0;
}
.btn-bestsl {
    min-width: 124px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary_color);
    padding: 15px;
    margin: 0 10px;
    border: 1px solid var(--primary_color);
    background: white;
}
.active_color,
.icon-action:hover,
.btn-bestsl:hover {
    color: white;
    background: var(--primary_color);
}

/* --------------------- banner -------------------- */
#banner {
    position: relative;
    margin-top: 110px;
    background: #9db97b;
}
.img-banner {
    width: 100%;
}
.brands {
    display: flex;
    height: 160px;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.brands-item {
    text-align: center;
}
.img-brand {
    max-width: 50%;
    height: auto;
}
.banner-text_wrapper {
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translateY(-40%);
    z-index: 20;
}
.banner-text {
    color: white;
    line-height: 1.8;
}
.banner-text-first {
    font-size: 4rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}
.banner-text-second {
    font-size: 1.5rem;
    font-weight: 400;
}
.btn-banner {
    color: black;
    background: white;
    border: none;
}
.btn-banner:hover {
    color: white;
    background: var(--primary_color);
}

/* ------------------- hot deals ------------------- */
.reminder {
    font-size: 1.3rem;
    font-weight: 600;
    color: #666;
    margin: 30px 0;
}
div.products-hotdeal {
    margin-top: 30px;
}

/* ------------------ leave email ------------------- */
#leave_in4 {
    height: 400px;
    padding: 0 15px;
    margin-top: 100px;
}
.img-in4 {
    width: 50%;
    height: inherit;
}
.in4 {
    display: flex;
    width: 50%;
    height: inherit;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 2;
    padding: 0 60px;
    background: #f0f8f6;
    float: right;
}
.icon-envelop {
    font-size: 3rem
}
.in4_text-first {
    font-size: 3rem;
    font-weight: 500;
}
.in4_text-second {
    font-size: 1.3rem;
    color: #979797;
}
.action_getemail {
    margin-top: 20px;
    display: flex;
}
.input-email {
    flex-grow: 10;
    font-size: 1.3rem;
    padding: 20px 20px;
    background: transparent;
    border: 1px solid #979797;
}
.btn-subscribe {
    flex-grow: 1;
    color: white;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: none;
    background: var(--primary_color);
}

/* -------------------- carousel instagram ------------- */
#carousel-insta {
    margin-bottom: 20px;
}
.hashtag {
    color: var(--primary_color);
    font-size: 2rem;
    margin: 30px 0;
    transform: translateX(13px);
}
.carousel {
    display: grid;
    width: 100%;
    height: max-content;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    position: relative;
}

.carousel-item {
    display: none;
    position: relative;
    overflow: hidden;
}
.carousel-item:hover .img-carousel {
    transform: scale(1.1);
}
.carousel-item:hover .btns-transfer {
    display: flex;
}
.carousel-item:hover .overlay-carousel {
    opacity: 1;
}
.img-carousel {
    width: 100%;
    transition: all linear 1s;
}
.btns-transfer {
    display: flex;
    width: 100%;
    height: max-content;
    position: absolute;
    top: 40%;
    justify-content: space-between;
    padding: 0 10px;
}
.icon-transfer {
    font-size: 2rem;
    padding: 15px 20px;
    border-radius: 50%;
    background: white;
    z-index: 2;
}
.icon-transfer:hover {
    color: white;
    background: var(--primary_color);
}
.overlay-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.icon-insta {
    font-size: 5rem;
    color: white;
}
.icon-insta:hover {
    color: var(--primary_color);
}
.active_block {
    display: block;
}
